@font-face {
    font-family: inter;
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --background-colour: #353840;
    --text: #ffffff;
    --navbar: #202225;
}

body {
    background-color: var(--background-colour);
    color: var(--text);
    font-family: inter;
}

.bg {
    z-index: -1;
    position: fixed; 
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px black;
}

.home-bg-top {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 70%;
    box-shadow: 0px 5px 10px black;
}

.bg-bot {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 70%;
}

#navbar {
    background-color: var(--navbar);
}

#footer {
    background-color: #202225;
    height: fit-content;
    width: 100%;
}

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    color: #ed2939;
}

.main {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.intro-con {
    width: 100%;
    height: 75%;

}

.intro {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    width: 18rem;
}

.intro-text {
    display: flex;
    justify-content: center;
    width: 100%;
}

.line {
    display: flex;
    justify-self: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin-bottom: 5px;
    width: 90%;
}

.card-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    display: none;
    /* remove for cards*/
}

.card {
    box-shadow: 5px 5px 10px black;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-footer-con {
    display: flex;
    justify-content: space-around;
}

.card-link {
    height: 3rem;
    width: 3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.powerpoint {
    width: 100%;
    height: 40vh;
}

.requirements-notes {
    display: flex;
    margin: 20px;
    width: 50%;
    height: 40vh;
}

.requirements-example {
    display: none;
    margin: none;
    width: 50%;
    height: 40vh;
}

.button-con {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    margin: 10px;
}